<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Merged with the generated Info.plist (GENERATE_INFOPLIST_FILE). -->
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/BricolageGrotesque-Medium.ttf</string>
		<string>Fonts/BricolageGrotesque-Bold.ttf</string>
		<string>Fonts/BricolageGrotesque-ExtraBold.ttf</string>
	</array>
</dict>
</plist>
